@import "../scss/Typography.scss";
@import "../scss/Vars.scss";

.carousel-next:before {
  background-image: url(../images/right.svg);
}

#nav {
  font-size: 3rem;
  display: flex;

  #st {
    color: $blue;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: $blue;
  }
}

.carousel {
  img {
    width: 100%;
  }
}

.upHeading {
  margin-top: $spacer3;

  h1 {
    font-size: 6rem;
    color: $coral;
  }

  .btns {
    margin-top: $spacer2;
  }

  #up-more {
    padding: 0.6rem 3rem;
    border: 2px solid $blue;
    background-color: $blue;
    border-radius: 10px;
  }

  #home {
    padding: 0.6rem 3rem;
    border: 2px solid $blue;
    border-radius: 10px;
    margin-left: $spacer3;
    a {
      color: $blue;
    }
  }
}

.wishlist {
  position: absolute;
  top: 0;

  width: 85%;
  background-color: $lightpink;
  border-right: 2px solid $pink;

  h1 {
    margin: $spacer2 0;
  }

  h2 {
    margin-bottom: $spacer3;
  }

  img {
    width: 100%;
  }

  h3 {
    margin-bottom: $spacer2;
  }

  h5 {
    margin: -$spacer5 $spacer3 $spacer5 $spacer3;
    text-align: center;
  }

  p {
    font-size: 1.8rem;
  }

  .prevWish {
    margin: $spacer2 0;
    z-index: 100000;
  }

  form {
    button {
      margin-top: $spacer3;
      margin-bottom: $spacer4;
    }
  }

  input,
  select {
    margin-top: $spacer1;
    margin-bottom: $spacer2;
    border: 2px solid $pink;
    border-radius: 10px;
    line-height: 4rem;
    padding-left: $spacer1;
    width: 80%;
  }

  h6 {
    font-size: 3.5rem;
    margin: $spacer3 0;
    font-weight: 600;
    line-height: 4.2rem;
  }
}

@media only screen and (max-width: $sm) {
  .wishlist {
    width: 100%;
  }
}

.uploadBtn {
  background: $blue;
  height: 40px;
  width: 100px;
  border: none;
  border-radius: 10px;
}

.saveUpload {
  background: $blue;
  height: 40px;
  width: 300px;
  border: none;
  border-radius: 10px;
  margin-top: $spacer2;
}

.Navbar {
  display: flex;

  > * {
    margin-left: $spacer2;
  }

  > h4 {
    margin-top: 1.2rem;
  }

  float: right;

  margin: $spacer2 0;
}

.searchBar {
  margin-top: $spacer2;
  margin-bottom: $spacer1;

  .searchCol {
    border: 2px solid $blue;
    line-height: 4rem;
    border-radius: 10px;
  }
}

.wishlistBtn {
  position: fixed;
  width: 100px;
  top: 50%;
  right: -35px;
  // left: 100;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.textbook {
  p {
    line-height: 3rem;
    font-weight: 400;
    font-size: 1.2rem;
    color: white;
    text-align: center;
    border-radius: 15px;
    background-color: $textbook;
    width: 60%;
  }
}

.exams {
  p {
    line-height: 3rem;
    font-weight: 400;
    font-size: 1.2rem;
    color: white;
    text-align: center;
    border-radius: 15px;
    background-color: $exams;
    width: 60%;
  }
}

.syllabus {
  p {
    line-height: 3rem;
    font-weight: 400;
    font-size: 1.2rem;
    color: white;
    text-align: center;
    border-radius: 15px;
    background-color: $syllabus;
    width: 60%;
  }
}

.notes {
  p {
    line-height: 3rem;
    font-weight: 400;
    font-size: 1.2rem;
    color: white;
    text-align: center;
    border-radius: 15px;
    background-color: $notes;
    width: 60%;
  }
}

.bookdisplay {
  margin-bottom: $spacer3;

  .inside-banner {
    img {
      width: 100%;
      margin-bottom: $spacer2;
    }
  }

  > * {
    margin-top: $spacer2;
  }

  a {
    text-decoration: none;
  }

  .title {
    h3 {
      font-weight: 400;
      font-size: 1.8rem;
    }
  }
}

.book-folder {
  margin-bottom: $spacer4;
}

.folder {
  width: 100%;
  margin-top: $spacer3;

  img {
    width: 100%;
  }

  .textThingy {
    @media only screen and (max-width: $md) {
      margin-top: -80px;
    }
    @media only screen and (min-width: $lg) {
      margin-top: -12rem;
    }
    img {
      width: 22%;
      height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    p {
      font-weight: 500;
      text-align: center;
      font-size: 1.8rem;
      margin-top: $spacer1;
    }
  }
}

.formArea {
  margin-top: $spacer3;

  h3 {
    margin-top: $spacer1;
  }

  input,
  select {
    border: 2px solid $pink;
    width: 80%;
    padding: 0.5rem;
    border-radius: 5px;
  }
}

.login {
  margin-top: $spacer4;
  h1 {
    margin-bottom: $spacer2;
  }
  p {
    margin-top: $spacer1;
  }
  input,
  select {
    border: 2px solid $pink;
    width: 80%;
    padding: 0.5rem;
    border-radius: 5px;
  }

  img {
    width: 100%;
  }

  button {
    margin-top: $spacer2;
  }
}

.imagesForm {
  width: 100%;

  img {
    width: 100%;
  }
}

.uploadHeader {
  text-align: right;
  margin-bottom: $spacer3;
}

.step {
  .number {
    p {
      font-family: "Poppins", sans-serif;
      font-size: 30rem;
      font-weight: 500;
      color: $gray;
    }
  }

  img {
    width: 100%;
  }

  h3 {
    font-weight: 600;
  }

  h6 {
    cursor: pointer;
  }
}

.uploadedScreen {
  img {
    width: 100%;
  }

  .uploadMore {
    margin: $spacer2 0;
    width: 200px;
    height: 50px;
    background-color: $blue;
    border: none;
    border-radius: 10px;
  }

  .home {
    margin: $spacer2 0;
    width: 100px;
    height: 50px;
    border: 2px solid $blue;
    color: $blue;
    border-radius: 10px;
  }
}
